*{
    padding: 0;
    margin: 0;
}

.register{
    margin: 100px 0 0 350px;
    height: 350px;
    width: 500px;
    background-color: rgb(227, 227, 231);
}

.register h1{
    margin: 2% 0 2% 30%;
}

.register input{
    padding: 2% 60% 2% 1%;
    margin: 2%;
    
}

.register button{
    padding: 2% 10% 2% 10%;
    margin: 5% 0% 0 35%;
}

.login{
    margin: 100px 0 0 350px;
    height: 300px;
    width: 500px;
    background-color: rgb(227, 227, 231);
}

.login h1{
    margin: 2% 0 2% 30%;
}

.login input{
    padding: 2% 60% 2% 1%;
    margin: 2%;
    
}

.login button{
    padding: 2% 10% 2% 10%;
    margin: 5% 0% 0 35%;
}

.yourcart{
    border: solid black;
    background-color: blueviolet;
    color: white;
}